<div class="LoginPage__wrapper full-screen flex flex-center">
    <div class="LoginPage__form flex flex-center flex-column padding__container-l">
        <h1>Вход в систему</h1>
        <input type="text" class="input margin__bottom-m full-width"
               placeholder="Логин"
               v-model.trim="loginForm.login"
        >
        <input type="text" class="input margin__bottom-m full-width"
               placeholder="Пароль"
               v-model.trim="loginForm.password"
        >
        <button :disabled="!(loginForm.login && loginForm.password)"
                @click.prevent="_login"
                class="button cursor-pointer margin__bottom-xs full-width">
            Войти</button>
    </div>
</div>